@keyframes ldio-0hgklc7ncq9h {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-0hgklc7ncq9h div { box-sizing: border-box!important }
.ldio-0hgklc7ncq9h > div {
  position: absolute;
  width: 75.03px;
  height: 75.03px;
  top: 53.985px;
  left: 53.985px;
  border-radius: 50%;
  border: 1.83px solid #000;
  border-color: #7aab92 transparent #7aab92 transparent;
  animation: ldio-0hgklc7ncq9h 1.0869565217391304s linear infinite;
}

.ldio-0hgklc7ncq9h > div:nth-child(2), .ldio-0hgklc7ncq9h > div:nth-child(4) {
  width: 67.71000000000001px;
  height: 67.71000000000001px;
  top: 57.645px;
  left: 57.645px;
  animation: ldio-0hgklc7ncq9h 1.0869565217391304s linear infinite reverse;
}
.ldio-0hgklc7ncq9h > div:nth-child(2) {
  border-color: transparent #b0c7a2 transparent #b0c7a2
}
.ldio-0hgklc7ncq9h > div:nth-child(3) { border-color: transparent }
.ldio-0hgklc7ncq9h > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-0hgklc7ncq9h > div:nth-child(3) div:before, .ldio-0hgklc7ncq9h > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 1.83px;
  height: 1.83px;
  top: -1.83px;
  left: 34.77px;
  background: #7aab92;
  border-radius: 50%;
  box-shadow: 0 73.2px 0 0 #7aab92;
}
.ldio-0hgklc7ncq9h > div:nth-child(3) div:after {
  left: -1.83px;
  top: 34.77px;
  box-shadow: 73.2px 0 0 0 #7aab92;
}

.ldio-0hgklc7ncq9h > div:nth-child(4) { border-color: transparent; }
.ldio-0hgklc7ncq9h > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-0hgklc7ncq9h > div:nth-child(4) div:before, .ldio-0hgklc7ncq9h > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 1.83px;
  height: 1.83px;
  top: -1.83px;
  left: 31.11px;
  background: #b0c7a2;
  border-radius: 50%;
  box-shadow: 0 65.88px 0 0 #b0c7a2;
}
.ldio-0hgklc7ncq9h > div:nth-child(4) div:after {
  left: -1.83px;
  top: 31.11px;
  box-shadow: 65.88px 0 0 0 #b0c7a2;
}
.loadingio-spinner-double-ring-hr9ng002mnn {
  width: 183px;
  height: 183px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-0hgklc7ncq9h {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-0hgklc7ncq9h div { box-sizing: content-box; }
